<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <title>RUNNER: Framed</title>
    <link rel="stylesheet" type="text/css" href="css/runnerUI.css">
    <link rel="stylesheet" type="text/css" href="css/datagrid.css">
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
    <!--<script src="../../build/ux-runner.js"></script>-->
    <!--<script src="../build/ux-runner.min.js"></script>-->
    <!--<script src="../build/angular-runner.js"></script>-->
    <!--<script src="../build/angular-runner.min.js"></script>-->
    <!--<script src="../../test/e2e/scenarios.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.js"></script>
    <script src="js/lib/angular-ux-datagrid.js"></script>
    <script src="../../data/wes.js"></script>
    <script src="../../build/ux-runner-guest.js"></script>
    <script>
        ux.runner.proxy.connect(ux.userData.url);//'http://webux.lh/ux-runner2/samples/');
    </script>
    <script src="js/app.js"></script>
    <script src="js/runnerUICtrl.js"></script>
</head>
<body data-ng-controller="root">
    <div data-ng-controller="runnerUICtrl" class="runner-ui-controls">
        <div class="header">UX Runner</div>
        <div class="runner-ui-control-bar">
            <div class="button">
                <div class="record-icon" data-ng-class="{'on':recording}" data-ng-click="toggle('recording')"></div>
            </div>
            <div class="button">
                <div class="play-icon" data-ng-class="{'on':playing}" data-ng-click="toggle('playing')"></div>
            </div>
        </div>
        <div data-ux-datagrid="items" class="datagrid">
            <script type="template/html" data-template-name="default" data-template-item="item">
                <div class="row">
                    <div class="step-label" ng-style="{'text-indent': item.depth*10 + 'px'}"><div class="stepState {{item.state}}" ng-class="{'timeout': item.timedOut, 'pass': item.pass}"></div>{{item.label}}</div>
                    <div class="step-id">{{item.pausedOnFail && 'paused' || ''}}</div>
                </div>
            </script>
        </div>
    </div>
</body>
</html>